@charset "UTF-8";

/* ベースデザイン */
* {
  box-sizing: border-box;
}

.clearfix:after {
  clear: both;
  content: "";
  display: flex;
}

.container {
  width: 100%;
}
/* レスポンシブ */

/* pc */
@media screen and (min-width: 1100px) {
  .headerWrapper {
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    width: inherit;
    z-index: 1000;
  }

  .header {
    margin: 0 auto;
    padding: 15px 0;
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__bolt {
    color: #4e4e4e;
  }

  .header__contactBtn {
    background-color: #74cfae;
    color: #fff;
    font-size: 12px;
    padding: 14px 12px;
    text-decoration: none;
    transition: all 0.3s;
  }

  .header__contactBtn:hover {
    color: #333;
  }

  .mainTitleWrapper {
    background-color: #f2f2f2;
  }

  .mainTitle {
    font-family: "Raleway";
    margin: 0 auto;
    padding: 250px 0;
    text-align: center;
    width: 1100px;
  }

  .mainTitle__bgTitle {
    color: #74cfae;
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .mainTitle__smTitle {
    color: #c0c0c0;
    font-size: 30px;
  }

  .abstWrapper {
    background-color: #74cfae;
  }

  .abst {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 1100px;
  }

  .abst__iphoneImg {
    padding-top: 50px;
  }

  .abst__description {
    color: #fff;
    text-align: center;
    width: 620px;
  }

  .abst__descriptionTitle {
    font-family: "Raleway";
    font-size: 24px;
    margin-bottom: 35px;
  }

  .abst__descriptionMsg {
    font-size: 20px;
    line-height: 28px;
  }

  .worksWrapper {
    background-color: #f2f2f2;
  }

  .works {
    margin: 0 auto;
    padding: 60px 0 70px 0;
    text-align: center;
    width: 1100px;
  }

  .works__title {
    color: #333;
    font-family: "Raleway";
    font-size: 24px;
    text-align: center;
  }

  .works__gallary {
    margin: 40px 0 90px 0;
  }

  .works__gallaryLink {
    margin: 80px 100px 0 0;
    float: left;
  }

  .works__gallaryLink:hover .works__gallaryImg {
    opacity: 1;
  }

  .works__gallaryLink:nth-child(-n+3) {
    margin-top: 0;
  }

  .works__gallaryLink:nth-child(3n) {
    margin-right: 0;
  }

  .works__gallaryImg {
    opacity: 0.7;
    transition: all 0.3s;
  }

  .works__bottomEmail {
    display: inline-block;

  }

  .works__bottomEmailMsg {
    color: #333;
    float: left;
    font-size: 20px;
    line-height: 28px;
    margin-right: 90px;
    width: 660px;
  }

  .works__bottomEmailBtn {
    background-color: #74cfae;
    color: #fff;
    float: left;
    font-size: 12px;
    padding: 14px 20px;
    text-decoration: none;
    transition: all 0.3s;
  }

  .works__bottomEmailBtn:hover {
    color: #333;
  }

  .skillsWrapper {
    background-color: #4e4e4e;
  }

  .skills {
    color: #fff;
    margin: 0 auto;
    padding: 70px 0 100px 0;
    text-align: center;
    width: 1100px;
  }

  .skills__title {
    font-family: "Raleway";
    font-size: 24px;
    margin-bottom: 70px;
  }

  .skills__index {
    display: inline-block;
  }

  .skills__circle {
    float: left;
    margin-right: 180px;
  }

  .skills__circle:last-child {
    margin-right: 0;
  }

  .skills__circle figcaption {
    font-size: 16px;
    margin-top: 10px;
  }

  .snsWrapper {
    background-color: #f2f2f2;
    text-align: center;
  }

  .sns {
    margin: 0 auto;
    padding: 200px 0;
    width: 1100px;
  }

  .sns li {
    display: inline-block;
  }

  .sns__btn {
    color: #74cfae;
    display: inline-block;
    padding: 20px 0;
    transition: all 0.3s;
    width: 185px;
  }

  .sns__btn:hover {
    background-color: #fff;
  }

  .footerWrapper {
    background-color: #74cfae;
  }

  .footer {
    margin: 0 auto;
    padding: 20px 0 25px 0;
    width: 1100px;
  }

  .footer__Msg {
    color: #fff;
    float: right;
    font-size: 16px;
  }
}

/* tb */
@media screen and (min-width: 768px) {

}

/* sp */
@media screen and (max-width: 767px) {

}